.footer {
  width: 100%;
  clear: both;
  background: #f5f5f5;
}

.footer .footer-t {
  overflow: hidden;
  padding: 30px 0;
}

.footer .footer-t .mod_service {
  margin-bottom: 40px;
  padding: 0px 88px;
}

.footer .footer-t .mod_service li {
  float: left;
  background: url(http://design.ehaoyao.com/new_site/static/images/foot-icon.png) no-repeat;
  width: 240px;
  padding-left: 15px;
  padding-top: 20px;
}

.footer .footer-t .mod_service li h3 {
  padding-left: 50px;
  font-size: 14px;
}

.footer .footer-t .mod_service li p {
  font-size: 12px;
  color: #545454;
  padding-left: 50px;
  line-height: 30px;
}

.footer .footer-t .mod_service .icon_foot_01 {
  background-position: 0px -69px;
}

.footer .footer-t .mod_service .icon_foot_02 {
  background-position: 0px -140px;
}

.footer .footer-t .mod_service .icon_foot_03 {
  background-position: 0px -216px;
}

.footer .footer-t .mod_help {
  border-top: 1px #eee solid;
  padding-top: 40px;
}

.footer .footer-t .mod_help .help1 {
  width: 880px;
  padding-left: 40px;
  overflow: hidden;
  float: left;
}

.footer .footer-t .mod_help .help1 li {
  float: left;
  width: 176px;
}

.footer .footer-t .mod_help .help1 li h4 {
  padding-left: 50px;
  font-size: 14px;
  font-weight: 700;
}

.footer .footer-t .mod_help .help1 li p {
  font-size: 12px;
  color: #545454;
  padding-left: 50px;
  line-height: 24px;
}

.footer .footer-t .mod_help .help1 li p a {
  color: #898989;
}

.footer .footer-t .mod_help .help1 li p a:hover {
  color: red;
}

.footer .footer-b .mod_pr {
  padding: 20px 0;
  width: 600px;
  margin: auto;
}

.footer .footer-b .mod_pr li {
  float: left;
  width: 134px;
  background: url(http://design.ehaoyao.com/new_site/static/images/bottom.png) no-repeat left top;
  line-height: 32px;
  height: 32px;
  padding-left: 60px;
  color: #898989;
  font-size: 14px;
}

.footer .footer-b .mod_pr .picOne {
  background-position: 11px -55px;
}

.footer .footer-b .mod_pr .picTwo {
  background-position: -2px -106px;
  padding-left: 89px;
  width: 120px;
}

.footer .footer-b .mod_ren {
  width: 1200px;
  margin: 0 auto;
}

.footer .footer-b .mod_ren p {
  text-align: center;
  line-height: 24px;
  color: #7e7e7e;
  font-size: 12px;
}

.footer .footer-b .mod_ren a {
  color: #7e7e7e;
  text-decoration: none;
  font-size: 12px;
  padding: 0 5px;
}

.footer .footer-b .mod_ren .nofollow {
  margin: 0 10px;
  width: 83px;
  height: 30px;
  display: inline-block;
}

.footer .footer-b .mod_ren .iconbg1 {
  background: url(http://design.ehaoyao.com/new_site/static/images/blxx.jpg) no-repeat left top;
}

.footer .footer-b .mod_ren .iconbg2 {
  background: url(http://design.ehaoyao.com/new_site/static/images/wl110.jpg) no-repeat left top;
}

.footer .footer-b .mod_ren .iconbg3 {
  background: url(http://design.ehaoyao.com/new_site/static/images/wzba.png) no-repeat left top;
}

.footer .footer-b .mod_ren .iconbg4 {
  background: url(http://design.ehaoyao.com/new_site/static/images/yjj.jpg) no-repeat left top;
}

.footer .footer-b .mod_ren .iconbg5 {
  background: url(http://design.ehaoyao.com/new_site/static/images/hy_83x30.png) no-repeat left top;
}
