 .header-t {
     background: #f5f5f5;
     height: 36px;
     border-bottom: 1px #e5e5e5 solid;
     font-size: 12px;
     .head-t-l>div {
         float: left;
         padding-left: 20px;
         line-height: 36px;
         span {
             padding-right: 10px;
             padding-left: 4px;
         }
     }
     .font_dark {
         color: #515151;
     }
     .font_red {
         color: red !important;
     }
     .head-t-r li {
         padding: 5px 20px 5px 25px;
         line-height: 26px;
         position: relative;
         cursor: pointer;
         float: left;
     }
     .icon-ad {
         background: url(http://design.ehaoyao.com/new_site/static/images/menu_icon.png) no-repeat -7px -420px;
     }
     .requirement {
         background-position: -15px -522px;
     }
     .order {
         background-position: -15px -522px;
     }
     .pCenter {
         background-position: -15px -621px;
     }
 }
 
 .header-m {
     //  overflow: hidden;
     background: #fff;
     .logo {
         float: left;
         width: 340px;
         height: 105px;
         .logo_img {
             margin-top: 15px;
             display: inline-block;
             width: 310px;
             height: 90px;
             background: url(http://design.ehaoyao.com/new_site/static/images/logo.jpg) no-repeat left center;
         }
     }
     .search {
         float: left;
         width: 560px;
         margin-top: 32px;
         position: relative;
         .top-search-input {
             background: #fff;
             color: #898989;
             border: 2px #ff344d solid;
             height: 18px;
             padding: 10px 0;
             width: 390px;
             text-indent: 12px;
             float: left;
             outline: 0;
             line-height: 18px;
         }
         .search-button {
             background: #ff344d;
             width: 80px;
             float: left;
             height: 42px;
             border-radius: 0;
             color: #fff;
             font-size: 14px;
             outline: 0;
             border: 0;
         }
         .search_down {
             margin-top: 5px;
             clear: both;
             a {
                 font-size: 13px;
                 color: #868686;
                 text-decoration: none;
                 padding-right: 12px;
             }
         }
     }
     .car_list:hover .car_hover {
         border: 1px #fe3640 solid;
         z-index: 1010;
         border-bottom: 0;
     }
     .car_list:hover .car_cont {
         display: block;
     }
     .car_list {
         float: left;
         position: relative;
         cursor: pointer;
         margin-top: 28px;
         .car {
             position: relative;
             padding: 10px 20px 2px 20px;
             width: 46px;
             background: url(http://design.ehaoyao.com/new_site/static/images/car.png) no-repeat bottom center #fff;
             height: 40px;
             border: 1px solid #fff;
         }
         .car_hover {
             // border: 1px #fe3640 solid;
             // z-index: 1010;
             // border-bottom: 0;
             span {
                 position: absolute;
                 top: 8px;
                 right: 17px;
                 min-width: 12px;
                 height: 12px;
                 background: #ff344d;
                 color: #fff;
                 text-align: center;
                 line-height: 12px;
                 border-radius: 9px;
                 padding: 3px;
             }
         }
         .car_cont {
             width: 300px;
             position: absolute;
             top: 55px;
             left: 0px;
             background: #fff;
             border: 1px #fe3640 solid;
             display: none;
             z-index: 1009;
             margin-top: -3px;
             .car_none {
                 font-size: 12px;
                 color: #898989;
                 //  background: #fff;
                 padding: 40px 0;
                 text-align: center;
             }
         }
     }
     .top_coupon {
         float: right;
         margin-top: 25px;
         height: 98px;
         cursor: pointer;
         width: 212px;
         .top_coupon01 {
             width: 185px;
             height: 103px;
             background: url(http://design.ehaoyao.com/new_site/static/images/top-coupon.jpg) no-repeat;
         }
         .top_coupon02 {
             width: 185px;
             height: 103px;
             background: url(http://design.ehaoyao.com/new_site/static/images/top-coupon.png) no-repeat;
         }
     }
 }
 
 .header-b {
     background: #ff344d;
     height: 40px;
     font-size: 12px;
     clear: both;
     position: relative;
     z-index: 99;
     .category {
         float: left;
         width: 228px;
         height: 40px;
         color: #fff;
         line-height: 40px;
         font-size: 16px;
         background: url(http://design.ehaoyao.com/new_site/static/images/menu_icon.png) no-repeat 23px -711px #cc0e25;
         cursor: pointer;
         position: relative;
         h2 {
             text-align: center;
         }
         .category-nav-sup li:hover .sup-item a {
             color: red;
         }
         .category-nav-sup {
             background-color: #000;
             //  opacity: 0.7;
             width: 228px;
             height: 430px;
             position: absolute;
             top: 40px;
             left: 0px;
             li {
                 width: 228px;
                 .sup-item {
                     position: relative;
                     padding-left: 40px;
                     height: 39px;
                     line-height: 39px;
                     background: url(http://design.ehaoyao.com/new_site/static/images/menu_icon.png) no-repeat scroll 0 0;
                     cursor: pointer;
                     z-index: 10;
                     overflow: hidden;
                     text-align: left;
                     opacity: 0.7;
                 }
                 .nov-item {
                     display: none;
                     .nov-item-l {
                         position: absolute;
                         top: 0px;
                         left: 228px;
                         width: 570px;
                         min-height: 430px;
                         background: #fff;
                         a {
                             color: #000;
                         }
                         dt {
                             float: left;
                             padding: 10px 10px 0 0;
                             width: 110px;
                             font-size: 13px;
                             font-weight: 700;
                             text-align: right;
                             color: #333;
                             line-height: 23px;
                             i {
                                 display: inline-block;
                                 padding: 0 5px;
                             }
                         }
                         dd {
                             display: inline-block;
                             padding: 8px 0;
                             margin: 0 8px 0 0;
                             width: 442px;
                             border-bottom: 1px #e6e6e6 dashed;
                             a {
                                 float: left;
                                 margin: 5px 0;
                                 padding: 0 10px;
                                 height: 16px;
                                 line-height: 16px;
                                 font-size: 13px;
                                 white-space: nowrap;
                             }
                         }
                     }
                     .nov-item-r {
                         position: absolute;
                         top: 0px;
                         left: 790px;
                         float: left;
                         width: 400px;
                         min-height: 425px;
                         // margin-left: 10px;
                         padding: 10px 0 0 10px;
                         background: #f5f5f5;
                         .menu-ad-logo {
                             width: 194px;
                             float: left;
                             a {
                                 margin: 1px 0 0 1px;
                                 float: left;
                                 width: 94px;
                                 height: 46px;
                             }
                         }
                         .menu-ad-img {
                             width: 200px;
                         }
                     }
                 }
                 .active {
                     display: block;
                 }
                 .a1 {
                     background-position: 10px -32px;
                 }
                 .a2 {
                     background-position: 10px -71px;
                 }
                 .a3 {
                     background-position: 10px -107px;
                 }
                 .a4 {
                     background-position: 10px -107px;
                 }
                 .a5 {
                     background-position: 10px -182px;
                 }
                 .a6 {
                     background-position: 10px -221px;
                 }
                 .a7 {
                     background-position: 10px -260px;
                 }
                 .a8 {
                     background-position: 10px -296px;
                 }
                 .a9 {
                     background-position: 10px -334px;
                 }
                 .a10 {
                     background-position: 10px -372px;
                 }
                 a {
                     display: inline-block;
                     padding-right: 0px;
                     // line-height: 38px;
                     font-size: 14px;
                     font-family: "\5FAE\8F6F\96C5\9ED1";
                     color: #fff;
                     text-align: left;
                 }
                 em {
                     font-size: 12px;
                     padding-left: 10px;
                     color: #dcdcdc;
                     a {
                         font-size: 12px;
                         color: #dcdcdc;
                     }
                 }
             }
         }
     }
     .navigation {
         width: 957px;
         float: left;
         margin-left: 15px;
         li {
             float: left;
             line-height: 40px;
             font-size: 16px;
             position: relative;
             a {
                 color: #fff;
                 text-decoration: none;
                 padding: 0 17px;
                 display: block;
             }
         }
         .new-text:hover .small-menu {
             display: block;
         }
         .new-text {
             i {
                 background: url(http://design.ehaoyao.com/new_site/static/images/jiao.png) no-repeat;
                 position: absolute;
                 top: 20px;
                 right: 10px;
                 width: 11px;
                 height: 7px;
             }
             a {
                 padding: 0 27px 0 12px;
             }
             .small-menu {
                 position: absolute;
                 top: 40px;
                 left: 0px;
                 background: #cc0e25;
                 width: 180px;
                 padding: 10px 0;
                 display: none;
                 a {
                     display: initial;
                     padding: 0 10px;
                     float: left;
                     line-height: 24px;
                     font-size: 12px;
                     text-align: left;
                     width: 70px;
                 }
             }
         }
     }
 }